@import url(../css/grid.css);

/* pc */
@media (min-width:1200px) {
    ::-webkit-scrollbar {
        width: 10px
    }

    ::-webkit-scrollbar-track {
        background: #fafafa
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(204, 98, 98);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgb(99, 99, 99)
    }
}


/* tablet */
@media (max-width:991px) {
    h2 {
        font-size: 18px;
    }
}

/* mobile large & moblie landscape*/
@media (max-width:767px) {
    body {
        font-size: 15px;
        padding: 0 20px;
    }

    h2 {
        font-size: 15px;
    }

    h4 {
        font-size: 14px;
    }
}

/* mobile */
@media (max-width: 574px) {
    body {
        font-size: 14px;
    }
}