@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap');

:root {
    --bg-color1: #c6ff297d;
    --bg-color2: #77a2a370;
    --bg-color3: #df3c0085;
    --bg-color4: #e7aaaa82;
    --bg-color5: #45989c70;
    --bg-color6: #ff214170;
    --bg-color7: #ae8eada8;
    --bg-color8: #2ec68982;
    --bg-color9: #a5b95d8a;
    --bg-color10: #41f1509e;

    --btn-bg: #137ece;
    --btn-color: #fff;

    --link: rgb(17 35 172);
    --link-hover: rgb(0, 187, 44);

    --bg-black-900: #000;
    --bg-black-100: #ddd;
    --bg-black-50: #eff0f4;
    --bg-opacity: rgba(255, 255, 255, 0.5);

    --text-black-900: #222;
    --text-black-700: #555;
    --text-black-600: #666;
    --text-black-300: #bbb;

    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-black-900);
    background-color: var(--bg-black-50);
}

/* override custom css variable for dark theme */
body.dark {
    --bg-black-900: #fff;
    --bg-black-100: #353535;
    --bg-black-50: #2b2c2f;
    --bg-opacity: rgba(43, 44, 47, 0.5);

    --link: #052339;

    --text-black-900: #fff;
    --text-black-700: #999;
    --text-black-600: #bbb;

    --outer-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
    --outer-shadow-0: 0 0 0 #222327, 0 0 0 #363636;
    --inner-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
    --inner-shadow-0: inset 0 0 0 #222327, inset 0 0 0 #363636;
}

body.hidden-scrolling {
    overflow-y: hidden;
}

ul {
    margin-left: 30px;
}

a {
    display: inline;

    color: var(--link);
    text-decoration: none;
    padding: 0 5px;
    word-break: break-all;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

a:hover {
    color: var(--link-hover);
}

section {
    padding: 70px 0 0;
}

/* Global style */
.justify-content-between {
    justify-content: space-between;
}

.tac {
    text-align: center;
}

.border-radius {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.dib {
    display: inline-block;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.m-5-0 {
    margin: 5px 0;
}

.m-20 {
    margin: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-100 {
    margin-top: 100px;
}

.bg-1 {
    background: var(--bg-color1);
}

.bg-2 {
    background: var(--bg-color2);
}

.bg-3 {
    background: var(--bg-color3);
}

.bg-4 {
    background: var(--bg-color4);
}

.bg-5 {
    background: var(--bg-color5);
}

.bg-6 {
    background: var(--bg-color6);
}

.bg-7 {
    background: var(--bg-color7);
}

.bg-8 {
    background: var(--bg-color8);
}

.bg-9 {
    background: var(--bg-color9);
}

.bg-10 {
    background: var(--bg-color10);
}

h2 {
    font-size: 20px;
}

h4 {
    text-align: center;
    font-size: 16px;
}

p {
    padding: 3px 0;
}

/* ----------------
    scroll styling
    --------------- */
.scroll-up-btn {
    position: fixed;
    right: 30px;
    bottom: 5px;
    z-index: 99;

    width: 45px;
    height: 45px;


    cursor: pointer;
    opacity: 0;
    background: var(--btn-bg);

    text-align: center;
    font-size: 30px;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.scroll-up-btn a {
    color: var(--btn-color);
}

.scroll-up-btn i {
    line-height: 45px;
}

.scroll-up-btn.show {
    bottom: 35px;
    opacity: 1
}

.scroll-up-btn:hover {
    box-shadow: 0 0 20px var(--bg-black-50)
}

.outer-shadow {
    box-shadow: var(--outer-shadow);
}

.inner-shadow {
    box-shadow: var(--inner-shadow);
}

.hover-in-shadow {
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover {
    box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.hover-in-shadow:hover::after {
    box-shadow: var(--inner-shadow);
}

/* Progress bar */
.progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
}

.progress-container {
    background-color: rgba(150, 150, 150, 0.6);
    height: 6px;
    width: 100%;
}

.progress-bar {
    background-color: #d63230;
    background-image: linear-gradient(319deg, #d63230 0%, #f39237 37%, #97cc04 100%);
    height: 6px;
    width: 0%;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}

/* -----------------
    Header style
-------------------- */
.header {
    /*position: absolute;
    linkto1section*/
    position: fixed;
    /*scrolllink*/
    top: 0;
    left: 0;
    z-index: 99;
    color: #6b6b6b;
    width: 100%;
    padding: 15px 15px 10px;

    background: var(--bg-black-50);
}

.header .logo img {
    width: 80px;
    height: auto;
}

.header .logo img.deactivate {
    display: none;
}

.header .logo img.active {
    display: unset;
}

.header .hamburger-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    margin-right: 10px;

    cursor: pointer;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.header .hamburger-btn::after {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header .hamburger-btn span {
    position: relative;

    display: block;
    width: 16px;
    height: 2px;

    background: var(--bg-black-900);
}

.header .hamburger-btn span::before,
.header .hamburger-btn span::after {
    content: "";
    position: absolute;
    left: 0;

    width: 100%;
    height: 99%;

    background: var(--bg-black-900);
}

.header .hamburger-btn span::before {
    top: -4px;
}

.header .hamburger-btn span::after {
    top: 4px;
}

/* ------------------------
    Navigation menu style
--------------------------- */
.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    overflow-y: auto;
    opacity: 0;
    visibility: hidden;

    background-color: var(--bg-black-50);

    width: 100%;
    height: 100%;
}

.fade-out-effect {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    visibility: hidden;
    background: var(--bg-black-50);
}

.fade-out-effect.active {
    visibility: visible;
    z-index: 1000;

    animation: fadeOut 0.3s ease-out;
    -webkit-animation: fadeOut 0.3s ease-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.nav-menu.open {
    visibility: visible;
    opacity: 1;
    z-index: 999;

    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.nav-menu .close-nav-menu {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;

    font-size: 35px;
    text-align: center;
    cursor: pointer;

    position: absolute;
    right: 15px;
    top: 15px;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.nav-menu .close-nav-menu::after {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.nav-menu-inner {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu ul {
    padding: 15px;
}

.nav-menu ul li {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.nav-menu ul li:last-child {
    margin-bottom: 0;
}

.nav-menu ul li a {
    display: inline-block;

    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;

    color: var(--text-black-600);
    padding: 10px 30px;

    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.nav-menu ul li a.active {
    color: var(--skin-color);
}

.nav-menu ul li a::after {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.nav-menu .copyright-text {
    position: absolute;
    left: -90px;
    top: 50%;

    font-size: 15px;

    transform: translateY(-50%) rotate(-90deg);
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
}


/* notice */
.notice {
    margin: 10px 0 20px;
}

/* faculty */
.faculty-item,
.post-item {
    display: flex !important;
}

.faculty,
.post {
    position: relative;
    top: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.faculty:hover,
.post:hover {
    top: -10px
}

/* post group */
.post-item img {
    position: absolute;
    top: -10px;
    right: -10px;

    width: 50px;
    height: 40px;
}