.quote-container {
    margin-bottom: 50px;
}

.quote-container i {
    color: #ff6d6d;
    font-size: 14px;
}

h4.title-quote {
    margin: 0 0 30px;
}

.date {
    margin-bottom: 30px;
}

.quote-area span {
    display: block;
    width: 700px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
}

.quote-area span i:nth-child(1) {
    position: relative;
    top: -15px;
    left: -5px;
}

.quote-area span i:nth-child(2) {
    position: relative;
    bottom: -10px;
    right: -5px;
}

.countdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.countdown-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 30px;
}

.countdown-block:last-child {
    margin-right: 0;
}

.time-elem {
    position: relative;
    color: #fb6087;
    position: relative;
    height: 85px;
    width: 100px;
    background-color: #33354d;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    overflow: hidden;
    margin-bottom: 15px;
    line-height: 85px;
    -webkit-box-shadow: 0px 8px 0px 0px #16151d;
    box-shadow: 0px 8px 0px 0px #16151d;
}

.time-elem::before,
.time-elem::after {
    content: "";
    position: absolute;
    z-index: 6;
    top: calc(50% - 5px);
    background: #ffffff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.time-elem::before {
    left: -5px;
}

.time-elem::after {
    right: -5px;
}

.time-elem>span {
    position: absolute;
    left: 0;
    right: 0;
}

.top {
    z-index: 3;
    background-color: #2a2a41;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(200px);
    transform: perspective(200px);
}

.time-elem .top::after,
.time-elem .bottom-back::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #24242e;
}

.bottom {
    z-index: 1;
}

.bottom::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #33354d;
}

.bottom-back {
    z-index: 2;
    top: 0;
    height: 50%;
    overflow: hidden;
    background-color: #33354d;
}

.bottom-back span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.top,
.top-back {
    height: 50%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.top-back {
    z-index: 4;
    bottom: 0;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    background-color: #33354d;
    -webkit-transform: perspective(200px) rotateX(180deg);
    transform: perspective(200px) rotateX(180deg);
}

.top-back span {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .quote-container {
        margin-bottom: 0px;
    }

    .quote-area {
        font-size: 14px;
    }

    .quote-area span {
        width: 350px;
    }

    .quote-area i {
        font-size: 10px;
    }

    .quote-area span i:nth-child(1) {
        top: -7px;
    }

    .countdown-block {
        margin-right: 16px;
    }

    .countdown-block:last-child {
        margin-right: 0;
    }

    .time-elem {
        height: 66px;
        width: 70px;
        font-size: 30px;
        line-height: 66px;
        margin-bottom: 17px;
    }
}