.section-content {
    list-style-type: disc;
    margin-left: 20px;
}

.section-content a {
    word-break: break-all;
}

.fix-word {
    word-break: break-all;
}

.btn-post {
    display: block;
    width: 160px;
    margin: 20px auto 0;
}

.faculty ul li,
.club ul li {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 20px;
}

.faculty .blog-content a,
.club .blog-content a {
    word-break: break-all;
    display: unset;
    transition: all 0.3s ease-in-out;
}

.faculty .blog-content a:hover,
.club .blog-content a:hover {
    color: #d63230;
}

.faculty h4,
.club h4 {
    font-size: 18px;
    text-align: center;
}


.bg_cover-fix {
    padding: 0 0 200px 0;
}

.lottie-banner-right {
    padding-top: 70px;
    margin: 0 auto;
}

#group,
#faculty {
    background-image: url(../images/bg/section_bg1.png.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 100px 0;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span,
.pagination>li>a,
.pagination>li>span {
    border-radius: 100px !important;
    margin: 0 2px;
    color: #777;
    border-color: #ddd;
}

.table-responsive {
    text-align: center;
    white-space: nowrap;
    padding-top: 20px;
}

.table-responsive thead {
    white-space: nowrap;
}

.table-responsive tbody tr td:nth-child(2) {
    text-align-last: left;
}

.study tbody tr td:nth-child(3),
.study tbody tr td:nth-child(4) {
    text-align-last: left;
}

.table th {
    padding: 10px 25px;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}

div.dataTables_wrapper div.dataTables_length {
    text-align: left;
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: 400;
    text-align: left;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 80px;
    margin: 0 5px;
    display: inline-block;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: 400;
    white-space: nowrap;
    text-align: left;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\2191";
    font-size: 15px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: .5;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\2193";
    font-size: 15px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: .5;
}

.input-group-addon {
    min-width: 100px;
    padding: 11px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.hidden {
    display: none;
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 25%);
}

.form-control:hover {
    border-color: #518ce4;
    box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 25%);
}

.grade-btn {
    padding: 10px 15px;
    line-height: unset;
}
@media (max-width: 767px) {

    .faculty h4,
    .club h4 {
        font-size: 16px;
    }

    .lottie-banner-right {
        width: 300px !important;
        height: 300px !important;
    }

    .lottie-banner-right {
        padding: unset;
    }

    .lottie-ts-right {
        width: 300px !important;
        height: 300px !important;
    }

    #group,
    #faculty {
        padding: 50px 0;
    }

    .hc-blog-img img {
        width: 100%;
    }

    .hc-blog {
        padding-bottom: 10px;
    }

    .ts-student {
        padding-bottom: 30px;
    }

    .ts-student-box {
        width: 100%;
    }

    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: center;
        margin-top: 11px;
        margin-bottom: 10px;
    }

    div.dataTables_wrapper div div.dataTables_paginate ul.pagination li a {
        font-size: 11px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .lottie-banner-right {
        width: 500px !important;
        height: 500px !important;
    }

    .lottie-banner-right {
        padding: unset;
    }

    .lottie-ts-right {
        width: 300px !important;
        height: 300px !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .lottie-banner-right {
        width: 450px !important;
        height: 450px !important;
    }

    .bg_cover-fix {
        padding: 0 0 300px 0;
    }
}

@media (max-width:575px) {
    .df {
        width: 90%;
        margin: auto;
    }

    .hc-blog-data {
        width: 90%;
    }
}