.section-content {
    list-style-type: disc;
    margin-left: 20px;
}

.section-content a {
    word-break: break-all;
}

.fix-word {
    word-break: break-all;
}

.btn-post {
    display: block;
    width: 160px;
    margin: 20px auto 0;
}

.faculty ul li,
.club ul li {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 20px;
}

.faculty .blog-content a,
.club .blog-content a {
    word-break: break-all;
    display: unset;
}

.faculty h4,
.club h4 {
    font-size: 18px;
    text-align: center;
}


.bg_cover-fix {
    padding: 0 0 200px 0;
}

.lottie-banner-right {
    padding-top: 70px;
    margin: 0 auto;
}

#group,
#faculty {
    background-image: url(../images/bg/section_bg1.png.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 100px 0;
}

@media (max-width: 767px) {

    .faculty h4,
    .club h4 {
        font-size: 16px;
    }

    .lottie-banner-right {
        width: 300px !important;
        height: 300px !important;
    }

    .lottie-banner-right {
        padding: unset;
    }

    #group,
    #faculty {
        padding: 50px 0;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .lottie-banner-right {
        width: 500px !important;
        height: 500px !important;
    }

    .lottie-banner-right {
        padding: unset;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .lottie-banner-right {
        width: 450px !important;
        height: 450px !important;
    }

    .bg_cover-fix {
        padding: 0 0 300px 0;
    }
}

@media (max-width:575px) {
    .df {
        width: 90%;
        margin: auto;
    }

    .review-post {
        height: 400px;
    }
}